/.idea/
/tsconfig*.json
/node_modules/
/src/assets/log4js/logs
/dist
/static/js/reconnecting*.js
/src/SQL/mySqlH/entity/*.js
/src/SQL/mySqlH/entity/*.*.map
/config/*.js
/config/*.*.map
/resource/css/*.css

*.map
*.*.map
*.*.*.map

