/.idea/
/tsconfig*.json
/node_modules/

/dist
/static/js/reconnecting*.js
/src/SQL/mySqlH/entity/*.js
/src/SQL/mySqlH/entity/*.*.map
/config/*.js
/config/*.*.map
/resource/css/*.css
*.css
*.log
*.*.log
*.*.*.log
*.map
*.*.map
*.*.*.map

