<!DOCTYPE html>
<html lang="en">

	<head>
		<meta name="viewport" content="width=device-width" />
		<meta charset="UTF-8">
		<title>用户登录</title>
		<link rel="stylesheet" href="../../style/css/login.css">
		<script src="../../js/vue/vue.js"></script>
		<script src="../../lib/iview-3.1.0/iview.min.js"></script>
		<link rel="stylesheet" href="../../lib/iview-3.1.0/styles/iview.css">
	</head>
	<body>
		<div id="app" class="account-container">
			<div class="account-modal-container">
				<div class="modal"></div>
				<div class="load-bar-container">
					<div class="load-bar" v-show="loadingbar.show">
						<div class="bar"></div>
						<div class="bar"></div>
						<div class="bar"></div>
					</div>
				</div>
				<div class="account-signin-container">
					<h1>用户登录</h1>
					<form class="account-form">
						<div class="form-group">
							<label>
								<span>登录名:</span>
								<input type="text" placeholder="请输入登录名" v-model="loginViewModel.userName" />
							</label>
						</div>
						<div class="form-group">
							<label>
								密码:
								<input type="password" placeholder="请输入密码" v-model="loginViewModel.password" />
							</label>
						</div>
						<div class="form-group">
							<a id="btn_login" @click="handleLogin">登 录</a>
						</div>
					</form>
				</div>
			</div>
		</div>
		<script type="text/javascript">
			var vm = new Vue({
				el: "#app",
				data: function() {
					return {
						loadingbar: {
							show: false
						},
						loginViewModel: {
							userName: "admin",
							password: "123456"
						}
					}
				},
				methods: {
					handleLogin: function() {
						var target = this;
						target.doLogin();
						setTimeout(function() {
							target.completeLogin();
						}, 2000);
					},
					doLogin: function() {
						this.loadingbar.show = true;
					},
					completeLogin: function() {
						this.loadingbar.show = false;
						this.$Message.success("登录成功");
						//设置用户TOKEN于localStorage中,系统首页依据此TOKEN来验证是否已登录
						localStorage.setItem("dnc_token", "user_info");
						setTimeout(function() {
							window.location.href = "index.html"
						}, 1000);
					}
				}
			});
		</script>
	</body>

</html>
