@charset "utf-8";
.login_page {
  .load-bar-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: pxToRem(6);
  }

  .load-bar {
    position: relative;
    margin-top: 0;
    width: 100%;
    height: pxToRem(6);
    background-color: #fdba2c;
    /*border-top-left-radius: 3px; border-top-right-radius: 3px;*/
    display: block;
  }

  .bar {
    content: "";
    display: inline;
    position: absolute;
    width: 0;
    height: 100%;
    left: 50%;
    text-align: center;
    /*border-top-left-radius: 3px; border-top-right-radius: 3px;*/
  }

  .bar:nth-child(1) {
    background-color: #da4733;
    animation: loading 3s linear infinite;
  }

  .bar:nth-child(2) {
    background-color: #3b78e7;
    animation: loading 3s linear 1s infinite;
  }

  .bar:nth-child(3) {
    background-color: #fdba2c;
    animation: loading 3s linear 2s infinite;
  }

  @keyframes loading {
    from {
      left: 50%;
      width: 0;
      z-index: 100;
    }

    33.3333% {
      left: 0;
      width: 100%;
      z-index: 10;
    }

    to {
      left: 0;
      width: 100%;
    }
  }

  .account-container {
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: pxToRem(500);
    height: pxToRem(550);
    background-color: #fff;
    /*border-radius: 3px;*/
    box-shadow: 0 pxToRem(2) pxToRem(2) 0 rgba(0, 0, 0, 0.14), 0 pxToRem(3) pxToRem(1) pxToRem(-2) rgba(0, 0, 0, 0.12), 0 pxToRem(1) pxToRem(5) 0 rgba(0, 0, 0, 0.2);
  }

  .account-signin-container {
    margin-top: pxToRem(15);
  }

  .account-signin-container h1 {
    font-size: pxToRem(20);
    border-bottom: pxToRem(2) solid #f7f7f7;
    margin: 0 0 pxToRem(15);
    padding-bottom: pxToRem(10);
    padding-left: pxToRem(15);
    letter-spacing: pxToRem(2);
  }

  .account-modal-container .modal {
    background: rgba(211, 211, 211, 0.10);
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    display: none;
  }

  .account-form {
    padding: pxToRem(15);
  }

  .account-form .form-group {
    width: 100%;
    margin-bottom:  pxToRem(15);
  }

  .account-form .form-group label {
    width: 100%;
    font-size: pxToRem(21);
    display: block;
  }

  .account-form .form-group input {
    border:  pxToRem(1) solid #ccc;
    line-height:  pxToRem(28);
    font-size:  pxToRem(19);
    padding:  pxToRem(2) 0;
    padding-left: pxToRem(5);
    display: block;
    width: 100%;
    margin-top: pxToRem(5);
    height: pxToRem(44);
  }
  .account-form #btn_login {
    background: #3b78e7;
    color: #fff;
    font-size: pxToRem(18);
    font-weight: bold;
    padding:pxToRem(8) pxToRem(25);
    cursor: pointer;
    margin-top: pxToRem(15);
    display: inline-block;
    box-shadow: 0 pxToRem(2) pxToRem(2) 0 rgba(0, 0, 0, 0.14), 0 pxToRem(3) pxToRem(1) pxToRem(-2) rgba(0, 0, 0, 0.12), 0 pxToRem(1) pxToRem(5) 0 rgba(0, 0, 0, 0.2);
    border-radius:pxToRem(3);
    min-width: pxToRem(100);
    text-align: center;
  }

  .account-form #btn_login:hover {
    background: #4885F3;
  }

  @media(max-width: pxToRem(500)) {
    .account-container {
      width: 100%;
      height: 100vh;
    }
  }

}